*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    max-width: 100vw;
}

body{

    max-height: 100vh;
    max-width: 100vw;
    font-size: clamp(1rem, 
        0.75rem + 1.5vw, 
        1.2rem);
        
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

.card{
    max-width: 100%;
    height: 26rem;
}

/* card text style */
.card-text{
    font-weight: bold;
}
/* card date style */
.card-date{
    color: #FF5D73;
}
/* large screen style */
@media screen and (min-width:992px) {
        .card{
            width: 17.5rem; 
            max-height: 23rem;
            font-size: calc(0.5rem + 0.6vw);
            
        }
}
/* style mini tablets */
@media screen and (min-width:768px) and (max-width:991px) {
    .card{
        height: fit-content;
        font-size:1.5rem
    }
}
/* style for small screen */
@media screen and (max-width:767px) {

:is(.btn-primary, .card-date){
    font-size: 1.3rem;
}
.card-text{
    font-size: 1.2rem;
}
.card{
    height: fit-content;
}
}

/* validating input field on search btn click */
 .search-field-validation{
    border-color: #FF5D73;
 }